* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
body, html {
    font-family: "Titillium Web", sans-serif;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    background-color: RGB(245,34,180);
    width: 100vw; 
    height: 100vh;
}
#wrap {
    position: relative; 
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.go-center {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.text-1 {
    top: 60px; 
    width: 80%;
    opacity: 1;
    transition: all 2s linear 1s;
}
.text-1.text-1-hide {
    top: -90px;
    opacity: 0;
}
.text-2 {
    bottom: 90px;
    width: 80%;
    opacity: 1;
    transition: all 1s linear 5s;
}
.text-2.text-2-hide {
    bottom: -30px;
    opacity: 0;
}
.text-3 {
    bottom: 60px;
    width: 80%;
    opacity: 1;
    transition: all 1s linear 7s;
    letter-spacing: 5px;
}
.text-3.text-3-hide {
    bottom: -40px;
    opacity: 0;
}
.loading-balls {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 100%;
    height: 150px;  
    
}
.ball {
    display: inline-block;
    top: 50%;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    width: 50px;
    height: 50px; 
    border-radius: 50%;
    background-color: #fff;
}
.loading-balls div:nth-child(1) {
    -webkit-animation: move 2s ease-in-out infinite alternate; 
    animation: move 2s ease-in-out infinite alternate; 
}
.loading-balls div:nth-child(2) {
    width: 45px;
    height: 45px; 
    -webkit-animation: move 2s ease-in-out infinite alternate .2s; 
    animation: move 2s ease-in-out infinite alternate .2s; 
}
.loading-balls div:nth-child(3) {
    width: 40px;
    height: 40px; 
    -webkit-animation: move 2s ease-in-out infinite alternate .4s; 
    animation: move 2s ease-in-out infinite alternate .4s; 
}
.loading-balls div:nth-child(4) {
    width: 35px;
    height: 35px; 
    -webkit-animation: move 2s ease-in-out infinite alternate .8s; 
    animation: move 2s ease-in-out infinite alternate .8s; 
}
.loading-balls div:nth-child(5) {
    width: 30px;
    height: 30px; 
    -webkit-animation: move 2s ease-in-out infinite alternate 1s; 
    animation: move 2s ease-in-out infinite alternate 1s; 
}
@-webkit-keyframes move {
    0% {
        -webkit-transform: translateY(100%);
    }
    25% { 
        -webkit-transform: translateY(50%);
        -webkit-transform: translateX(20%);
    }
    50% {
        -webkit-transform: translateY(150%);
    }
    75% {
        -webkit-transform: translateY(125%); 
    }
    100% {
        -webkit-transform: translateY(100%); 
    }
}
keyframes move {
    0% {
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
    25% { 
        -ms-transform: translateY(50%);
        -ms-transform: translateX(20%);
        transform: translateY(50%);
        transform: translateX(20%);
    }
    50% {
        -ms-transform: translateY(150%);
        transform: translateY(150%);
    }
    75% {
        -ms-transform: translateY(150%);
        transform: translateY(125%); 
    }
    100% {
        -ms-transform: translateY(150%);
        transform: translateY(100%); 
    }
}